<<<<<<< HEAD
<% unless cart.line_item.empty? %>
=======
>>>>>>> bd75c571e3200aa420194dfb691f22be8ebb768c
<h2>Your Cart</h2>
<table>
	<%= render(cart.line_items) %>

	<tr>
		<td colspan="2">Total</td>
		<td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
	</tr>

</table>
<<<<<<< HEAD
<%= button_to 'Empty cart', cart, method: :delete, data: {confirm: 'Are you sure ?'} %>
<% end %>
=======
<%= button_to 'Empty cart', cart, method: :delete, data: {confirm: 'Are you sure ?'} %>
>>>>>>> bd75c571e3200aa420194dfb691f22be8ebb768c
